@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: 0px;
  --radius-md: 0px;
  --radius-lg: var(--radius);
  --radius-xl: 0px;
  --radius-2xl: 0px;
  --radius-3xl: 0px;
  --radius-4xl: 0px;
}

:root {
  --background: #f2ecde;
  --foreground: #43436c;
  --card: #e5ddcb;
  --card-foreground: #43436c;
  --popover: #e5ddcb;
  --popover-foreground: #43436c;
  --primary: #43436c;
  --primary-foreground: #f2ecde;
  --secondary: #d5cea3;
  --secondary-foreground: #43436c;
  --muted: #e4dcc9;
  --muted-foreground: #716e61;
  --accent: #e7dece;
  --accent-foreground: #43436c;
  --destructive: #c34043;
  --border: #dcd5c5;
  --input: #dcd5c5;
  --ring: #43436c;
  --chart-1: #43436c;
  --chart-2: #98bb6c;
  --chart-3: #e6c384;
  --chart-4: #ffa066;
  --chart-5: #957fb8;
  --radius: 0px;
  --sidebar: #e5ddcb;
  --sidebar-foreground: #43436c;
  --sidebar-primary: #43436c;
  --sidebar-primary-foreground: #f2ecde;
  --sidebar-accent: #e7dece;
  --sidebar-accent-foreground: #43436c;
  --sidebar-border: #dcd5c5;
  --sidebar-ring: #43436c;
}

.dark {
  --background: #12120f;
  --foreground: #dcd7ba;
  --card: #1f1f28;
  --card-foreground: #dcd7ba;
  --popover: #1f1f28;
  --popover-foreground: #dcd7ba;
  --primary: #dcd7ba;
  --primary-foreground: #12120f;
  --secondary: #223249;
  --secondary-foreground: #dcd7ba;
  --muted: #2a2a37;
  --muted-foreground: #727169;
  --accent: #2a2a37;
  --accent-foreground: #dcd7ba;
  --destructive: #c34043;
  --border: #363646;
  --input: #363646;
  --ring: #7fb4ca;
  --chart-1: #7e9cd8;
  --chart-2: #98bb6c;
  --chart-3: #e6c384;
  --chart-4: #ffa066;
  --chart-5: #957fb8;
  --sidebar: #16161d;
  --sidebar-foreground: #dcd7ba;
  --sidebar-primary: #dcd7ba;
  --sidebar-primary-foreground: #12120f;
  --sidebar-accent: #2a2a37;
  --sidebar-accent-foreground: #dcd7ba;
  --sidebar-border: #363646;
  --sidebar-ring: #7fb4ca;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground selection:bg-muted selection:text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
}

.image-rendering-pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes cursor-blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-cursor-blink {
  animation: cursor-blink 3s infinite;
}
